.darkModeSwitch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
}

.darkModeSwitch input[type='checkbox'] {
  display: none;
}

.darkModeSwitch label {
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 24px;
  background-color: #ccc;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.darkModeSwitch label::after {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.3s;
}

.darkModeSwitch input[type='checkbox']:checked + label {
  background-color: #333;
}

.darkModeSwitch input[type='checkbox']:checked + label::after {
  transform: translateX(24px);
}
